# Dependencies
node_modules/
vendor/

# Environment files
.env
.env.local
.env.*.local

# Build outputs
/dist
/build
*.exe
*.exe~
*.dll
*.so
*.dylib

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Operating System
.DS_Store
Thumbs.db
